<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_id %><br>
    <%= f.number_field :from_id %>
  </div>
  <div class="field">
    <%= f.label :to_id %><br>
    <%= f.number_field :to_id %>
  </div>
  <div class="field">
    <%= f.label :post %><br>
    <%= f.text_area :post %>
  </div>
  <div class="field">
    <%= f.label :post_date %><br>
    <%= f.datetime_select :post_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
