<p id="notice"><%= notice %></p>

<p>
  <strong>Photo title:</strong>
  <%= @photo.photo_title %>
</p>

<p>
  <strong>Photo filename:</strong>
  <%= @photo.photo_filename %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
